#principal {
  background: url("./public/images/landing.png") no-repeat center;
  background-size: cover;
  height: 80vh;
}

#principal .conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  height: 100%;
  margin-left: 150px;
}

#principal .conteudo h1 {
  font-size: 172px;
  line-height: 136px;
  color: var(--primaria);
}

#principal .conteudo p {
  color: var(--cinza);
  font-size: 18px;
}

#principal i {
  font-size: 32px;
  color: var(--primaria);
  position: absolute;
  margin: -12px 50%;
  transition: margin 0.4s ease-in-out;
}

#principal i:hover {
  margin: 0 50%;
}

#informacoes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  justify-items: center;
  place-content: center;
  gap: 2rem;
  max-width: 1024px;
  margin: 100px auto;
}

#informacoes .card {
  width: 280px;
  height: 136px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: var(--branco);
  box-shadow: 0px 0px 25px rgba(18, 18, 18, 0.05);
  border-radius: 0px 30px;
  transition: transform 0.3s ease-in-out;
}

#informacoes .card:hover {
  transform: scale(1.1);
}

#informacoes .card .icone {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: var(--primaria);

  display: flex;
  justify-content: center;
  align-items: center;
}

#informacoes .card .icone i {
  color: var(--branco);
  font-size: 24px;
  margin: 8px;
}

#informacoes .card h2 {
  font-weight: 600;
  font-size: 18px;
  color: var(--preto);
}

#informacoes .card p {
  font-size: 16px;
  color: var(--cinza);
}

#unidades {
  max-width: 1024px;
  margin: auto;

  display: flex;
  flex-direction: column;
}

#unidades h3 {
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #29292E;
  padding-bottom: 24px;
}

#unidades h3::after {
  content: "";
  display: block;
  width: 114px;
  height: 6px;
  background: var(--primaria);
  border-radius: 3px;
  margin-top: -8px;
}

#unidades a {
  font-weight: 300;
  font-size: 18px;
  color: #707078;
  margin-left: auto;
  margin-top: 8px;
}