#principal {
  background: url("./public/images/landing.png") no-repeat center;
  background-size: cover;
  height: 80vh;
}

#principal .conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  height: 100%;
  margin-left: 150px;
}

#principal .conteudo p {
  color: var(--cinza-escuro);
  font-size: 18px;
}

#principal i {
  display: flex;
  align-items: center;
  font-size: 32px;
  color: var(--primaria);
  position: absolute;
  margin: -40px 50%;
  transition: margin 0.4s ease-in-out;
  min-height: 70px;
}

#principal i:hover {
  margin: -24px 50%;
}

#informacoes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  justify-items: center;
  place-content: center;
  gap: 2rem;
  max-width: 1024px;
  margin: 100px auto;
}

#informacoes .card {
  width: 280px;
  height: 136px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: var(--branco);
  box-shadow: 0px 0px 25px rgba(18, 18, 18, 0.05);
  border-radius: 0px 30px;
  transition: transform 0.3s ease-in-out;
}

#informacoes .card:hover {
  transform: scale(1.1);
}

#informacoes .card .icone {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: var(--primaria);

  display: flex;
  justify-content: center;
  align-items: center;
}

#informacoes .card .icone i {
  color: var(--branco);
  font-size: 24px;
  margin: 8px;
}

#informacoes .card h2 {
  font-weight: 600;
  font-size: 18px;
  color: var(--preto);
}

#informacoes #texto-card-endereco {
  font-size: 15px;
  text-align: center;
}

#informacoes .card p {
  font-size: 16px;
  color: var(--cinza-escuro);
}

#catalogo, #unidades, #faq {
  max-width: 1024px;
  margin: auto;

  display: flex;
  flex-direction: column;
  padding: 0 12px 0 12px;
}

#unidades {
  margin: 50px auto;
}

#catalogo header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 48px;
}

#catalogo header .pesquisa, #catalogo header select {
  border: 1px solid #707078;
  border-radius: 12px;
  height: 48px;

  display: flex;
  align-items: center;
}

#catalogo header .pesquisa input {
  width: 400px;
  height: 100%;
  border: none;
  background-color: transparent;
  padding: 0 24px;
  max-width: 40vw;
}

#catalogo header .pesquisa button {
  width: 48px;
  height: 100%;
  background-color: transparent;
}

#catalogo header .pesquisa button i {
  color: var(--cinza-escuro);
  font-size: 18px;
}

#catalogo .sem-resultados h2 {
  text-align: center;
  color: var(--cinza-escuro);
  font-size: 18px;
  font-weight: 600;
}

#catalogo header select {
  padding: 0 18px;
  color: var(--cinza-escuro)
}

#catalogo main {
  display: flex;
  gap: 86px;
}

#catalogo header .adicionar-bolo {
  display: none;
  width: 172px;
  height: 47px;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

#catalogo main .filtro-ingredientes,
#catalogo main .filtro-ingredientes > div {
  display: flex;
  gap: 8px;
}

#catalogo main .filtro-ingredientes {
  flex-direction: column;
}

#catalogo main .filtro-ingredientes > div {
  align-items: center;
}

#catalogo main .filtro-ingredientes input[type=checkbox] {
  height: 21px;
  width: 21px;
  accent-color: #00a5a5;
}

#catalogo main .filtro-ingredientes label {
  color: var(--preto);
}

#catalogo main .listagem {
  width: 100%;
}

#catalogo main .listagem .produtos {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
  place-content: center;
  gap: 2rem;
}

#catalogo main .listagem .paginacao {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 7px;
  margin-top: 24px;
}

#catalogo main .listagem .paginacao a {
  font-weight: 300;
  font-size: 18px;
  color: var(--cinza-escuro);
  text-decoration: none;
}

#catalogo main .listagem .paginacao a:not(:last-child) {
  display:block;
  width: 36px;
  height: 36px;

  border: 1px solid var(--cinza-escuro);
  box-sizing: border-box;
  border-radius: 50px;
  
  font-size: 14px;
  text-align: center;
  padding: .9% 0;
}

#catalogo main .listagem .paginacao a.active {
  background-color: var(--primaria);
  color: var(--branco);
  border: none;
  font-weight: bold;
}

#unidades > a {
  font-weight: 300;
  font-size: 18px;
  color: var(--cinza-escuro);
  margin-left: auto;
  margin-top: 8px;
}

#faq > div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#faq img {
  max-height: 280px;
}

#faq .perguntas {
  flex: 1;
}

#faq button {
  background-color: transparent;
  color: var(--preto);

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: 500;
  font-size: 20px;
}

#faq button i {
  color: var(--primaria)
}

#faq button[aria-expanded='true'] + p {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}

#faq p {
  opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}

.acoes-produtos {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 10px;
  display: flex;
  gap: 12px;

  background-color: var(--primaria);
  border-radius: 6px;

  z-index: 1;
}

.acoes-produtos i {
  color: var(--branco);
  font-size: 24px;
  cursor: pointer;
  transition: color 500ms ease-in-out;
}

.acoes-produtos i:hover {
  color: var(--cinza-claro);
}

@media (max-width: 1080px) {
  #catalogo, #unidades, #faq {
    max-width: 720px;
  }

  #catalogo header .adicionar-bolo {
    display: none;
  }
}

@media (max-width: 800px) {
  #principal .conteudo {
    margin: 0 80px;
  }
  #catalogo, #unidades, #faq {
    max-width: 480px;
  }

  #catalogo header .pesquisa input {
    width: 250px;
  }

  #catalogo header select {
    padding: 0 4px;
  }

  #catalogo main .listagem .produtos {
    margin-bottom: 24px;
  }

  #faq > div {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  #catalogo, #unidades, #faq {
    max-width: 420px;
  }

  #catalogo header .pesquisa input {
    width: 210px;
  }

  #catalogo main {
    flex-direction: column;
    gap: 24px
  }

  #catalogo main .filtro-ingredientes {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5ch, 1fr));
    place-content: center;
    gap: 2rem;
  }
}