h1 {
  font-weight: bold;
  font-size: 65px;
  text-align: center;
  color: var(--primaria);
}
#principal {
  max-width: 1240px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  gap: 24px;
}

#principal #mapa {
  max-width: 860px;
  border: 4px solid #00A8A8;
  border-radius: 18px;
}