main {
    display: flex;
    max-width: 1420px;
    margin: auto;
    min-height: 80%;
    align-items: center;
}

.imagens a {
    height: 50px;
    width: 50px;
    margin-right: auto;
    cursor: pointer;
}

.imagens, .informacoes {
    flex: 1;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagens {
    width: 500px;
    max-width: 90vw;
}

.imagens .conteudo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.imagens img:not(.voltar) {
    width: 100%;
    height: 420px;
    background: rgba(0, 168, 168, 0.1);
    border: 3px solid var(--primaria);
    object-fit: cover;
    cursor: pointer;
    background: url(/public/icons/mais.png) no-repeat center;
    border-radius: 20px;
}

.imagens .conteudo > img {
    width: 100%;
    height: 421px;
    border-radius: 20px;
    background: url(/public/icons/mais.png) no-repeat center;
    z-index: 1;
}

.imagens .secundarias{
    width: 100%;
    display: flex;
    gap: 18px;
}

.imagens .secundarias img {
    width: 122px;
    height: 90px;
    border-radius: 12px;
    z-index: 1;
    background: url(/public/icons/mais.png) no-repeat center;
    border: 3px solid var(--primaria);

}

.imagens .secundarias div {
    width: 122px;
    border-radius: 12px;
}

.secundarias input {
    opacity: 0;
}

.conteudo {
    max-width: 80%;
    margin: auto;
}

.informacoes .conteudo h2 {
    font-weight: 500;
    font-size: 18px;
    color: var(--preto);
}

.informacoes .conteudo .acoes {
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 534px;
}

.informacoes .conteudo button {
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    width: 48%;
    height: 51px;
}

.informacoes .conteudo button .secondary {
    background-color: transparent;
    color: var(--primaria);
    border: 2px solid var(--primaria);
}

.informacoes .conteudo input:not([type="checkbox"]), .informacoes .conteudo textarea {
    width: 100%;
    border-radius: 5px;
    background: rgba(0, 168, 168, 0.05);
    border: 1px solid rgb(218, 218, 218);
    object-fit: cover;
    padding: 7px 10px;
    margin-bottom: 7px;
    outline: none;

    font-size: 16px;
    color: var(--preto);
}

.informacoes .conteudo input:focus, .informacoes .conteudo textarea:focus {   
    background: rgba(6, 129, 129, 0.158);
    border: 1px solid var(--primaria);
}

.informacoes .conteudo .categorias {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

::placeholder {
    font-size: 14px;
    color: rgba(112, 112, 120, 0.7);
}

#descricao {
    height: 120px;
}

#image-mais{
    height: 80px;
    width: 70px;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
    z-index: 2;
}

.inputFile
{
    width: 100%;
    opacity: 0;
    display: none;
}

.informacoes .conteudo .categorias .categoria, #adicionar-categoria {
    display: flex;
    align-items: center;
    gap: 8px;
}

#adicionar-categoria input[type="text"] {
    width: 70%;
    background: transparent;
    border: none;
    border: 1px solid var(--cinza);
    margin-bottom: 0;
}

#adicionar-categoria button {
    height: 41px;
    border-radius: 5px;
    text-align: center;
}

@media (max-width: 1240px) {
    main {
        flex-direction: column;
    }

    .imagens {
        width: 80%;
        margin: auto;
    }

    .informacoes .conteudo .tipo  {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 750px) {
    .imagens, .informacoes {
        justify-content: start;
        height: auto;
        display: block;
    }
    
    .informacoes .conteudo .tipo {
        margin-top: 8px;
        flex-direction: column;
    }
    
    .informacoes .conteudo .tipo .tipos {
        min-width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
        place-content: center;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .informacoes .conteudo .tipo .tipos button {
        margin: auto;
    }

    .informacoes .conteudo .acoes {
        gap: 12px;
        margin-top: 12px;
    }
}