@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --primaria: #00a8a8;
  --amarelo: #e3b23c;
  --preto: #29292e;
  --cinza-escuro: #707078;
  --cinza: #BBB;
  --cinza-claro: #efecf1;
  --branco-escuro: #efe9f4;
  --branco: #fcfcfc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--branco);
  height: 100vh;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 1420px;
  margin: auto;
  padding: 18px 100px;
}

header a {
  text-decoration: none;
  font-size: 18px;
  color: var(--preto);
  transition: background-color 0.2s ease-in-out;
}

header i.fa-bars {
  color: var(--primaria);
  display: none !important;
  font-size: 32px;
  cursor: pointer;
}

header > a:nth-child(2) {
  display: none;
  margin: auto;
  cursor: pointer;
}

header #navbar {
  width: 100vw;
}

header ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header li {
  list-style: none;
}

header li .foto {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50px;
  cursor: pointer;
  border: 2px solid var(--primaria);
}

.whatsapp-button {
  width: 60px;
  height: 60px;
  position: fixed;
  right: 25px;
  bottom: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  z-index: 10;
}

.whatsapp-icon {
  margin-top: 10px;
}

footer {
  margin-top: 86px;
  background-color: var(--primaria);
  color: var(--branco);
  padding: 36px;
}

footer .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1080px;
  margin: auto;
}

footer .container .cabecalho {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 200px;
  margin-bottom: 32px;
}

footer a {
  text-decoration: none;
  color: var(--branco);
}

footer .container .cabecalho a {
  font-weight: 600;
}

footer .container .conteudo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 52px;
}

footer .container .conteudo .social i {
  font-size: 24px;
}

footer .container .conteudo .navegacao {
  display: flex;
  gap: 36px;
}

footer .container .conteudo .navegacao .coluna {
  display: flex;
  flex-direction: column;
}

#mapa {
  width: 100%;
  height: 500px;
  border-radius: 16px;
}

.leaflet-popup-content-wrapper {
  background-color: var(--branco);
  border-radius: 12px;
}

.leaflet-popup-content {
  color: var(--cinza-escuro);
  font-size: 16px;
  font-weight: 400;
  margin: 14px 6px 14px 9px;
}

.leaflet-popup-content a {
  background-color: var(--primaria);
  color: var(--branco) !important;
  padding: 7px 14px;
  margin-left: 4px;
  border-radius: 10px;
  text-decoration: none;
}

button {
  color: var(--branco);
  background-color: var(--primaria);
  border: none;
  border-radius: 8px;
  width: 130px;
  padding: 8px 0;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  transition: filter 0.3s ease-in-out;
}

button:hover {
  filter: brightness(95%);
}

button.secondary {
  background-color: var(--branco);
  color: var(--primaria);
  border: 2px solid var(--primaria);
}

h3 {
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: var(--preto);
  padding-bottom: 24px;
}

h3::after {
  content: "";
  display: block;
  width: 114px;
  height: 6px;
  background: var(--primaria);
  border-radius: 3px;
  margin-top: -8px;
}

.card-produto {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 264px;
  height: 300px;
  border-radius: 0px 24px;
  box-shadow: 0px 0px 25px rgba(18, 18, 18, 0.05);
  margin: 0 auto;
}

.card-produto > * {
  flex: 1;
}

.card-produto img {
  max-height: 172px;
  object-fit: cover;
  border-radius: 0px 24px 0 0;
}

.card-produto .titulo {
  display: flex;
}

.card-produto .informacoes {
  position: relative;
  padding: 16px 24px;
}

.card-produto .informacoes .titulo {
  display: flex;
  align-items: center;
}

.card-produto .informacoes .titulo h4 {
  font-weight: 500;
  font-size: 19px;
  line-height: 22px;
  color: var(--cinza-escuro);
}

.card-produto .informacoes .titulo h5 {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: var(--cinza-escuro);
}

.card-produto .informacoes button {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 100px;
  height: 55px;
  border-radius: 24px 0px 0px 0px;
}

.card-produto .informacoes button i {
  font-size: 32px;
}

.estrelas {
  display: flex;
  height: 38px;
  align-items: self-end;
  gap: 6px;
}

.estrelas i {
  color: var(--amarelo);
  font-size: 18px;
}

.estrelas i:not(.atingida) {
  color: var(--cinza);
}

.separador {
  width: 100%;

  font-size: 14px;
  color: #707078;

  margin: 14px 0;
  display: flex;
  align-items: center;
}

.separador::before {
  content: '';
  flex: 1;
  height: 1px;
  background: #707078;
  margin-right: 16px;
}

.separador::after {
  content: '';
  flex: 1;
  height: 1px;
  background: #707078;
  margin-left: 16px;
}

@media (max-width: 1080px) {
  header {
    padding: 18px 15%;
  }
  header i.fa-bars {
    display: block !important;
  }

  header > a:nth-child(2) {
    display: block;
  }

  header #navbar {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    
    opacity: 0%;
    display: none;
  }

  header #navbar:target {
    opacity: 100%;
    display: flex;
  }

  header #navbar ul {
    z-index: 5;
    display: flex;
    flex-direction: column;
}

  header #navbar ul li {
    padding: 16px 0;
    width: 100%;
    text-align: center;
    background: var(--branco);
  }

  header #navbar ul li:hover {
    background-color: var(--cinza-claro);
  }

  header #navbar ul li.logo {
    display: none;
  }

  header #navbar ul li button {
    width: 96%;
    height: 100%;
  }

  header #navbar .background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

  header i.fa-bars {
    margin-right: 12px;
  }
}

@media (max-width: 880px) {
  footer .container .cabecalho {
    padding-right: 0px;
  }
}

@media (max-width: 720px) {
  footer .container .cabecalho {
    flex-direction: column;
  }
  footer .container .conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer .container .conteudo .navegacao {
    display: none;
  }
}