@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primaria: #00A8A8;
    --amarelo: #E3B23C;
    --preto: #29292E;
    --cinza: #707078;
    --cinza-claro: #EFE9F4;
    --branco: #FCFCFC;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--branco);
    height: 100vh;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 1420px;
    margin: auto;
    padding: 18px 100px;
}

header a {
    text-decoration: none;
}

header i {
    color: var(--primaria);
    display: none !important;
    font-size: 32px;
    cursor: pointer;
}

header > img {
    display: none;
    margin: auto;
}

header ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header li {
    list-style: none;
    font-size: 18px;
    color: var(--preto);
}

button {
    color: var(--branco);
    background-color: var(--primaria);
    border: none;
    border-radius: 8px;
    width: 130px;
    padding: 8px 0;
    font-size: 18px;
    font-weight: 400;
} 

@media (max-width: 1080px) {
    header i {
        display: block !important;
    }

    header img {
        display: block;
    }

    header #navbar {
        position: absolute;
        bottom: 100%;
    }

    header #navbar:target {
        bottom: 0;
        left: 0;
        background: var(--branco);
        display: flex;
        flex-direction: column;
        top: 10%;
    }
}

@media (max-width: 720px) {
    header {
        
    }
}