body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    /* overflow: hidden; */
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    background-image: url("../public/images/background2.png");
    background-repeat: no-repeat;
    background-size: 70%;
    background-color: salmon;
    background-position-y: top;
}

main .informacoes {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.informacoes h1{
    
}

h1{

}

@media (max-width: 1720px) {
    main {
        background-size: 80%;
    }
}

@media (max-width: 1520px) {
    main {
        background-size: 90%;
    }
}