body {
    font-weight: 500;
    height: 100vh;
}

main {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .apresentacao {
    height: 100%;
    background-color: var(--primaria);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .apresentacao img {
    height: 60%;
}

main .apresentacao, main .formulario {
    flex: 1;
    min-height: 100px;
}

main .apresentacao #apresentacao-texto{
    color: #FFFFFF;
}

main .apresentacao #apresentacao-texto h1{
    color: #FFFFFF;
    font-size: 60px;
}

main .apresentacao #apresentacao-texto #bem-vindo{
    color: #FFFFFF;
    font-size: 20px;
}

main .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h2{
    color: #009898;
    font-size: 3rem;
    margin-bottom: 3rem;
}

p  {
    color: var(--cinza);   
}


main form {
    display: flex;
    flex-direction: column ;
}

main form label {
    display: flex;
    flex-direction: column;
}

main form input::placeholder {
    font-size: 1.1rem;
    margin-top: 2rem;
    color: var(--primaria)
}

main form input {
    width: 300px;
    height: 50px;
    padding: 0 2rem;
    margin-top: 1rem;
    outline: none;
    color: rgba(166, 166, 166);
    font-size: 1rem;
    border: 1px solid #009898 ;
    border-radius: 10px;
    color: #009898;
}

main .input {
    position: relative;
}

main input + img {
    position: absolute;
    left: 10px;
    top: 45%;
}

main button {
    margin-top: 24px;
    width: 100%;
}


@media (max-width: 750px) {

    main{
          padding-bottom: 170px;
       }
   
       main .apresentacao {
       display: none;
   
       }
   
   
   }



